<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2 text-center>Daily Quote App</h2>
    <ion-card *ngIf="currentQuote">
      <ion-card-header>
      </ion-card-header>
      <ion-card-content>
          <h2>{{currentQuote.text}}</h2>
          <h2><i>{{currentQuote.author}}</i></h2>
      </ion-card-content>
    </ion-card>
    <h4 text-center *ngIf="!currentQuote">Click the button below to get today's daily quote.</h4>
    <div class="position-bottom">
      <button (click)="getDailyQuote()" ion-button large full>Get Daily Quote</button>
    </div>
</ion-content>
